:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
    --green:#28a646;
    --greenB:#23973f;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-green { background-color: var(--green) !important;}

.bg-greenB{ background-color: var(--greenB) !important;}

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

.boolds{
    color: #000000 !important;
    font-weight: bold;
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}
#sidebar-container .menu .item:hover{
    background-color: #313de8;
    transition: 0.3s ease;
}

#sidebar-container .menu .item a .der{
    position: static;
    right: 0;
    margin: 30px;
    transition: 0.3s ease;
}
#sidebar-container .menu .item .sub-menu a{
    padding-left: 80px;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}
#cabeza{
    background-color: #111B54 !important;
}
  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }
  